In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
#pd.reset_option('display.max_rows')
pd.set_option('display.max_rows', 20)  # ao inv√©s de none pode por INT do limite
pd.set_option('display.max_colwidth', 15)

In [2]:
df = pd.read_csv('../data/df_subvar_9-10_country.csv')

In [3]:
df.head()

,id,Event,Site,Date,White,Black,Result,BlackElo,ECO,WhiteElo,WhiteWon,BlackWon,Moves,WhiteFinalPiecesCount,BlackFinalPiecesCount,FinalPiecesCount,QueenTrade,Evals,MaxEval,MinEval,FinalEval,W<=10,W<=25,W<=50,W<=100,W<=200,W<=500,W>500,B<=10,B<=25,B<=50,B<=100,B<=200,B<=500,B>500,Wprojection,Bprojection,DifProjection,Plays,SubVariation,Mainline,country
0,0,New York,New York,1918,"Morrison, J...","Marshall, F...",0-1,NaN,C89,NaN,0,1,85,1,3,4,0,"[38, 54, 25...",81,-6153,-6153,21,13,13,13,9,2,0,44,18,10,6,4,2,0,1152,-38380,-37228,1. e4 e5 2....,9. exd5 Nxd...,"['e4', 'e5'...",United States
1,1168,New York,New York,1918,"Capablanca,...","Marshall, F...",1-0,NaN,C89,NaN,1,0,36,7,5,12,0,"[35, 43, 27...",99995,27,99995,13,3,5,3,1,0,0,15,5,7,3,4,0,1,17855,0,17855,1. e4 e5 2....,9. exd5 Nxd...,"['e4', 'e5'...",United States
2,1772,Brno,Brno,1921,"Sery, S.","Vecsey, Zoltan",1-0,NaN,C89,NaN,1,0,17,12,10,22,0,"[30, 54, 55...",99999,3,99999,9,2,2,0,0,0,0,9,5,0,1,0,0,1,3851,0,3851,1. e4 e5 2....,9. exd5 Nxd...,"['e4', 'e5'...",Czechia
3,2129,NLD-ch,Nijmegen,1921,"Te Kolste, ...","Loman, Rudolf",0-1,NaN,C89,NaN,0,1,19,11,10,21,0,"[37, 48, 46...",133,-972,-972,9,3,2,0,1,0,1,8,6,1,2,1,0,0,2030,-1888,142,1. e4 e5 2....,9. exd5 Nxd...,"['e4', 'e5'...",Netherlands
4,2522,USA sim,USA,1926,"Lasker, Ema...","Bigelow, Ho...",0-1,NaN,C89,NaN,0,1,20,11,11,22,0,"[26, 50, 52...",109,-1187,-1187,9,2,2,0,0,3,0,15,2,1,1,0,0,0,1406,-6327,-4921,1. e4 e5 2....,9. exd5 Nxd...,"['e4', 'e5'...",Japan

In [4]:
variations = df['SubVariation'].unique().tolist()
variations

['9. exd5 Nxd5 10. d4 exd4',
 '9. exd5 Nxd5 10. Nxe5 Nxe5',
 '9. exd5 e4 10. dxc6 exf3',
 '9. d3 dxe4 10. dxe4 Qxd1',
 '9. d4 Nxe4 10. dxe5 Be6',
 '9. d4 exd4 10. e5 Ne4',
 '9. exd5 e4 10. Ng5 Bg4']

In [5]:
info = [] 
for variation in variations:
    df_var = df.loc[df['SubVariation'] == variation]
    df_var = df_var.sort_values(by='Date')
    df_var = df_var.iloc[0:10,:]
   

    for index, row in df_var.iterrows():
        linha = {}
        linha['id'] = row['id']
        linha['Variation'] = variation
        linha['Event'] = row['Event']
        linha['Site'] = row['Site']
        linha['Country'] = row['country']
        linha['Year'] = row['Date']
        linha['White'] = row['White']
        linha['Black'] = row['Black']
        linha['Result'] = row['Result']

        if row['Site'] == 'Bargteheide':
            linha['Country'] = 'Germany'
        if row['Site'] == 'Bariloche':
            linha['Country'] = 'Argentina'
        if row['Site'] == 'Bremen ':
            linha['Country'] = 'Germany'
        if row['Site'] == 'Bremer ':
            linha['Country'] = 'Germany'
        if row['Site'] == 'Bruchkoebel':
            linha['Country'] = 'Germany'
        if row['Site'] == 'Budapest':
            linha['Country'] = 'Hungary'
        if row['Site'] == 'Buenos Aires':
            linha['Country'] = 'Argentina'
        if row['Site'] == 'Calcutta ':
            linha['Country'] = 'India'
        if row['Site'] == 'Florida Valle':
            linha['Country'] = 'Argentina'
        if row['Site'] == 'Germany':
            linha['Country'] = 'Germany'
        if row['Site'] == 'HUN':
            linha['Country'] = 'Hungary'
        if row['Site'] == 'Oerebro':
            linha['Country'] = 'Sweden'
        if row['Site'] == 'Parnu':
            linha['Country'] = 'Estonia'
        if row['Site'] == 'Topola ':
            linha['Country'] = 'Serbia'
        if row['Site'] == 'Trencianske Teplice':
            linha['Country'] = 'Slovakia'
        if row['Site'] == 'URS':
            linha['Country'] = 'Russian Federation'
        if row['Site'] == 'USA':
            linha['Country'] = 'United States'
        if row['Site'] == 'Villa Ballester':
            linha['Country'] = 'Argentina'
        if row['Site'] == 'Villa Gesell':
            linha['Country'] = 'Argentina'
        if row['Site'] == 'Villa Gesell':
            linha['Country'] = 'Argentina'

        info.append(linha)

In [6]:
variations10 = pd.DataFrame(info)
variations10

,id,Variation,Event,Site,Country,Year,White,Black,Result
0,0,9. exd5 Nxd...,New York,New York,United States,1918,"Morrison, J...","Marshall, F...",0-1
1,14339,9. exd5 Nxd...,Parnu,Parnu,Estonia,1947,"Simagin, Vl...","Lilienthal,...",0-1
2,42980,9. exd5 Nxd...,Moscow olm ...,Moscow,Russian Fed...,1956,"Badilles, G...","Maher, Vincent",1-0
3,68746,9. exd5 Nxd...,URS-chT,Leningrad,Russian Fed...,1962,"Epstein, Es...",Bisarde,0-1
4,72326,9. exd5 Nxd...,Varna olm,Varna,Bulgaria,1962,"Belkadi, Ridha","Hoen, Ragnar",1-0
...,...,...,...,...,...,...,...,...,...
65,626371,9. exd5 e4 ...,Kassel op,Kassel,Germany,1994,"Wendland, J...","Schuchardt,...",1/2-1/2
66,628639,9. exd5 e4 ...,Oberschwabe...,Mengen,Germany,1994,"Dorer, Manfred","Rothmund, J.",1/2-1/2
67,727758,9. exd5 e4 ...,Graz op-B,Graz,Austria,1996,Brunnsteine...,"Jahrbacher, H.",1-0
68,752910,9. exd5 e4 ...,Yerevan op,Yerevan,Armenia,1996,"Manoukian, T.","Petrosian, G.",1-0
69,820162,9. exd5 e4 ...,Skopje op,Skopje,North Maced...,1998,Mihajlovski...,"Pancevski, ...",1-0

In [7]:
variations10['Country'].unique()

array(['United States', 'Estonia', 'Russian Federation', 'Bulgaria',
       'Sweden', 'Germany', 'Hungary', 'Czechia', 'Netherlands', 'Poland',
       'Slovakia', 'Argentina', 'Latvia', 'Brazil', 'Croatia', 'Ukraine',
       'France', 'Israel', 'United Kingdom', 'India', 'Serbia', 'Austria',
       'Armenia', 'North Macedonia'], dtype=object)

In [8]:
variations10['Variation'].unique().tolist()

['9. exd5 Nxd5 10. d4 exd4',
 '9. exd5 Nxd5 10. Nxe5 Nxe5',
 '9. exd5 e4 10. dxc6 exf3',
 '9. d3 dxe4 10. dxe4 Qxd1',
 '9. d4 Nxe4 10. dxe5 Be6',
 '9. d4 exd4 10. e5 Ne4',
 '9. exd5 e4 10. Ng5 Bg4']

In [9]:
start_year = []
for variation in variations:
    df_var = variations10.loc[variations10['Variation'] == variation]
    df_var = df_var.sort_values(by='Year')
    info = {}

    info['id'] = df_var['id'].tolist()[0]
    info['Variation'] = variation
    info['FirstOccurrence'] = df_var['Year'].tolist()[0]
    info['Country'] = df_var['Country'].tolist()[0]
    info['White'] = df_var['White'].tolist()[0]
    info['Black'] = df_var['Black'].tolist()[0]
    info['Result'] = df_var['Result'].tolist()[0]
    start_year.append(info)


start = pd.DataFrame(start_year)

In [10]:
start

,id,Variation,FirstOccurrence,Country,White,Black,Result
0,0,9. exd5 Nxd...,1918,United States,"Morrison, J...","Marshall, F...",0-1
1,1168,9. exd5 Nxd...,1918,United States,"Capablanca,...","Marshall, F...",1-0
2,4534,9. exd5 e4 ...,1930,Germany,"Stoltz, Goesta","Steiner, He...",1-0
3,13215,9. d3 dxe4 ...,1947,Russian Fed...,Boleslavsky...,"Lilienthal,...",1/2-1/2
4,24332,9. d4 Nxe4 ...,1950,Russian Fed...,"Geller, Efim P","Suetin, Ale...",0-1
5,36410,9. d4 exd4 ...,1952,Hungary,"Szily, Jozsef","Szabo, Laszlo",0-1
6,143364,9. exd5 e4 ...,1971,Germany,"Helm, I.","Bade, Heidrun",0-1