In [1]:
import pandas as pd
import chess
import chess.pgn
import chess.engine

In [2]:
engine = chess.engine.SimpleEngine.popen_uci("../../stockfish/stockfish")

In [3]:
pgn = open("../data/RuyLopezMarshall.pgn")

In [4]:
games_id = []
games = []

while True:
    offset = pgn.tell()
    headers = chess.pgn.read_headers(pgn)
    if headers is None:
        break
    games_id.append(offset)

for offset in games_id:
    pgn.seek(offset)
    games.append(chess.pgn.read_game(pgn))

In [5]:
dados = []
count = -1

for game in games:
    count += 1
    row = {}
    head = game.headers

    if head['Site'].endswith(' INT') or head['Site'] == '?':
        continue

    row['id'] = games_id[count]



    row['Plays'] = game[0]

        
    dados.append(row)  
     
df = pd.DataFrame(dados)

# testes

In [6]:
position = games[1000][0].end().board()
#qntd de peças restantes
fen = position.board_fen()
fen

'3Q1rk1/8/p2b2q1/1p1p3p/2PPb3/1P2RpP1/P2B1P1N/6K1'

In [7]:
print(position.outcome())

None

In [8]:
print(dados[0])

{'id': 0, 'Plays': <ChildNode at 0x1a0f7e62530 (1. e4 ...)>}

In [9]:
df.to_csv('../data/df_plays.csv', index=False)
df

           id                                              Plays
0           0  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
1        1168  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2        1772  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
3        2129  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
4        2522  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
...       ...                                                ...
2979  2113381  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2980  2117758  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2981  2118961  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2982  2119588  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2983  2120268  1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...

[2984 rows x 2 columns]

In [10]:
df_full = pd.read_csv('../data/df_completo.csv')

In [11]:
df_full = df_full.merge(df, on='id')
df_full.to_csv('../data/df_completo.csv', index=False)

In [12]:
df_full

,id,Event,Site,Date,White,Black,Result,BlackElo,ECO,WhiteElo,...,B<=25,B<=50,B<=100,B<=200,B<=500,B>500,Wprojection,Bprojection,DifProjection,Plays
0,0,New York,New York,1918,"Morrison, John Stuart","Marshall, Frank James",0-1,NaN,C89,NaN,...,18,10,6,4,2,0,1152,-49307,-48155,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
1,1168,New York,New York,1918,"Capablanca, Jose Raul","Marshall, Frank James",1-0,NaN,C89,NaN,...,5,7,3,4,0,1,215844,0,215844,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2,1772,Brno,Brno,1921,"Sery, S.","Vecsey, Zoltan",1-0,NaN,C89,NaN,...,5,0,1,0,0,1,201848,0,201848,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
3,2129,NLD-ch,Nijmegen,1921,"Te Kolste, Jan Willem","Loman, Rudolf",0-1,NaN,C89,NaN,...,6,1,2,1,0,0,2030,-1888,142,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
4,2522,USA sim,USA,1926,"Lasker, Emanuel","Bigelow, Horace Ransom",0-1,NaN,C89,NaN,...,2,1,1,0,0,0,1406,-6514,-5108,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,2113381,23rd European Teams,Terme Catez,2021,"Agopov,M","Ragger,M",1/2-1/2,2668.0,C89,2430.0,...,7,6,6,1,2,0,15091,-100,14991,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2980,2117758,8th Sunway Sitges 2021,Sitges,2021,"Kurmann,O","Van Dael,Siem",1-0,2300.0,C89,2466.0,...,7,9,5,3,2,2,821040,0,821040,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2981,2118961,7th Gashimov Mem Blitz,Baku,2021,"Karjakin,Sergey","Caruana,F",1/2-1/2,2792.0,C89,2743.0,...,6,3,2,0,0,0,2788,-9,2779,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2982,2119588,World Rapid Women 2021,Warsaw,2021,"Loskutova,Viktoriya","Abdumalik,Z",1-0,2491.0,C89,2100.0,...,8,5,6,1,1,0,25803,-8,25795,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...
2983,2120268,World Rapid 2021,Warsaw,2021,"Dvirnyy,D","Lopusiewicz,P",1/2-1/2,2301.0,C89,2492.0,...,10,3,7,1,2,1,1658,-34133,-32475,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...